---
layout: default
---
<div class="bio">
    <img src="{{ '/assets/profile.jpg' | relative_url }}" alt="Daniel de Kadt" class="bio-photo">
    <div class="bio-text">
        {{ content }}
        <div class="bio-links">
            <a href="https://scholar.google.com/citations?user=KGAJuQEAAAAJ&hl=en" title="Google Scholar"><i class="fa-brands fa-google-scholar"></i></a>
            <a href="mailto:dekadt@cornell.edu" title="Email"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://github.com/ddekadt" title="GitHub"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/daniel-de-kadt-7091964/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.dropbox.com/scl/fi/45c76d95o6dj30iyqrqhx/cv_ddekadt.pdf?rlkey=ehlu9l1ci364hn8oh5h2g3u9q&raw=1" title="Academic CV"><i class="fa-solid fa-file-pdf"></i> cv</a>
        </div>
    </div>
</div>
